<div class="wrapper">
  <div *ngIf="!loading" class="body">
      <img class="logo" src="assets/img/login.png" alt="login">
        <h2 >Recuperar contraseña</h2>
    <form (ngSubmit)="recuperar()" [formGroup]="recuperarPassword">
        <div class="form-floating mb-3">
          <input type="email"
                 class="form-control"
                 placeholder="name@example.com"
                 formControlName="email">
          <label >correo</label>
          <span *ngIf="recuperarPassword.get('email')?.hasError('required') && recuperarPassword.get('email')?.touched" class="text-danger errorLabel">
            El <strong>correo</strong> es requerido
         </span>
         <span *ngIf="recuperarPassword.get('email')?.hasError('email') && recuperarPassword.get('email')?.touched" class="text-danger errorLabel">
            El <strong>correo</strong> es invalido
         </span>
        </div>
        <div class="d-grid gap-2 mb-3">
          <button type="submit" [disabled]="recuperarPassword.invalid" class="btn btn-primary btn-lg">Enviar correo </button>
        </div>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Volver</a>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
